<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>轻租车</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="../../plugins/ydui-0.1.3/build/css/ydui.css" />
    <script src="../../plugins/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/index.js"></script>
    <link rel="stylesheet" href="css/css.min.css" />
</head>
<body>
<section class="order_success">
    <header class="header qzc_flex_2 center_mid">
        <div><img src="../../public/images/user_logo.png" alt=""></div>
        <div><span class="float_r myOrder"><i class="icon-order center_mid"><span style="font-size: 14px;font-weight: bolder;margin-left: 5px">我的订单</span></i></span></div>
    </header>
    <div class="content center_mid">
        <div>
            <div style="background: url('img/user_order_success_carFlower.png') no-repeat 100%/100%;background-position: bottom center;height: 3.4rem;padding: 0 1rem;">
                <div style="font-size: .45rem" class="title">恭喜您！已预约成功</div>
                <div style="margin-top: .3rem;font-size: .3rem" class="title_fu">智慧型代步用服务车 <span style="color: #009E96">3 天</span></div>
            </div>
            <div style="margin-top: .5rem;font-size: .24rem;text-align: center">
                <div style="line-height: .8">取车时间:08月13日 15:30
                    <a style="margin-left: .2rem;text-decoration: underline;color: #00BBB2" href=""><i class="icon-location">取车地导航</i></a>
                </div>
                <div style="line-height: .8">还车时间:08月16日 15:30
                    <a style="margin-left: .2rem;text-decoration: underline;color: #00BBB2" href=""><i class="icon-location">还车地导航</i></a>
                </div>
            </div>
            <div style="padding: 0 .8rem">
                <button onclick="" type="button" class="btn-block btn-primary qzc_btn">查看订单</button>
            </div>
        </div>
    </div>
    <!--已完成 成功-->
    <div class="qzc_list border_b success">
        <div class="center_mid qzc_flex_2">
            <div class="qzc_list_left"><i class="icon-checkoff qzc_list_icon head_icon checked"></i><div style="margin-left: .6rem">预约代步车</div></div>
            <div class="qzc_list_right active">已成功</div>
        </div>
    </div>
    <!--已完成 失败-->
    <div class="qzc_list border_b _fail">
        <div class="center_mid qzc_flex_2">
            <div class="qzc_list_left"><i class="icon-warn-outline qzc_list_icon head_icon fail"></i><div style="margin-left: .6rem">支付押金款</div></div>
            <div class="qzc_list_right fail" style="padding-right: .4rem">失败<div style="width: .4rem;height: .4rem;position: absolute;right: 0;top: .03rem;" class="icon_right icon"></div></div>
        </div>
    </div>
    <!--未完成 导航-->
    <div class="qzc_list border_b _gps">
        <div class="center_mid qzc_flex_2">
            <div class="qzc_list_left"><i class="icon-checkoff qzc_list_icon head_icon"></i><div style="margin-left: .6rem">上门取车</div></div>
            <div class="qzc_list_right" style="padding-right: .4rem;color: #C8C7C8">导航<div style="width: .4rem;height: .4rem;position: absolute;right: 0;top: .03rem;" class="icon_right icon"></div></div>
        </div>
    </div>
    <!--未完成 导航-->
    <div class="qzc_list border_b _gps">
        <div class="center_mid qzc_flex_2">
            <div class="qzc_list_left"><i class="icon-checkoff qzc_list_icon head_icon"></i><div style="margin-left: .6rem">上门还车</div></div>
            <div class="qzc_list_right" style="padding-right: .4rem;color: #C8C7C8">导航<div style="width: .4rem;height: .4rem;position: absolute;right: 0;top: .03rem;" class="icon_right icon"></div></div>
        </div>
    </div>
    <!--未进行-->
    <div class="qzc_list border_b _ing">
        <div class="center_mid qzc_flex_2">
            <div class="qzc_list_left"><i class="icon-checkoff qzc_list_icon head_icon"></i><div style="margin-left: .6rem">查询违章</div></div>
            <div class="qzc_list_right" style="color: #C8C7C8">未进行</div>
        </div>
    </div>
</section>
</body>
<script src="../../plugins/ydui-0.1.3/build/js/ydui.js"></script>
<script src="../../plugins/ydui-0.1.3/build/js/ydui.flexible.js"></script>
<script src='../../plugins/md5/jquery.md5.js'></script>
<script src="js/vsi.js"></script>
</html>
