<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>轻租车</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="../../plugins/ydui-0.1.3/build/css/ydui.css" />
    <script src="../../plugins/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/index.js"></script>
    <link rel="stylesheet" href="css/css.min.css" />
</head>
<body>
<section class="order_list">
    <header class="header qzc_flex_3 center_mid">
        <div class="order_active"><div>进行中</div></div>
        <div><div>已完成</div></div>
        <div><div>已取消</div></div>
    </header>
    <div class="list">
        <div class="view">
            <div class="car_info list_take">
                <div class="qzc_list container center_baseline">
                    <div style="width: .6rem" class="flex_none">
                        <div class="take center_mid">取</div>
                    </div>
                    <div class="flex2">
                        <div class="city">深圳</div>
                        <div class="addr ">宝安机场店</div>
                    </div>
                    <div class="flex1">
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div><i class="icon-location"></i></div>
                    </div>
                </div>
            </div>
            <div class="car_info list_still">
                <div class="qzc_list container center_baseline">
                    <div style="width: .6rem" class="flex_none">
                        <div class="still center_mid">还</div>
                    </div>
                    <div class="flex2">
                        <div class="city">深圳</div>
                        <div class="addr ">宝安机场店</div>
                    </div>
                    <div class="flex1">
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div><i class="icon-location"></i></div>
                    </div>
                </div>
                <div class="hr"><div></div></div>
            </div>
            <div>
                <div class="css_date">
                    <div class="container">
                        <div style="width: 1.5rem" class="flex_none">
                            <div style="text-align: center">
                                <div style="font-size: .4rem">2018</div>
                                <div style="font-size: .22rem;color: #C8C7C8">2-10 周六</div>
                            </div>
                        </div>
                        <div class="flex2 center_mid">
                            <img style="width: 100%" src="../../public/images/user_order_time.png" alt="">
                        </div>
                        <div style="width: 1.5rem " class="flex_none">
                            <div style="text-align: center">
                                <div style="font-size: .4rem">2018</div>
                                <div style="font-size: .22rem;color: #C8C7C8">3-10 周一</div>
                            </div>
                        </div>
                    </div>
                    <div class="hr"><div></div></div>
                </div>
                <div class="qzc_list border_b order_status">
                    <div class="center_mid container">
                        <div class="flex2">订单号：12345678909876</div>
                        <div class="flex1">
                            <span class="car_auditing">审核中</span>
                            <div class="icon icon_right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view">
            <div class="car_info list_take">
                <div class="qzc_list container center_baseline">
                    <div style="width: .6rem" class="flex_none">
                        <div class="take center_mid">取</div>
                    </div>
                    <div class="flex2">
                        <div class="city">深圳</div>
                        <div class="addr ">宝安机场店</div>
                    </div>
                    <div class="flex1">
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div><i class="icon-location"></i></div>
                    </div>
                </div>
            </div>
            <div class="car_info list_still">
                <div class="qzc_list container center_baseline">
                    <div style="width: .6rem" class="flex_none">
                        <div class="still center_mid">还</div>
                    </div>
                    <div class="flex2">
                        <div class="city">深圳</div>
                        <div class="addr ">宝安机场店</div>
                    </div>
                    <div class="flex1">
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div><i class="icon-location"></i></div>
                    </div>
                </div>
                <div class="hr"><div></div></div>
            </div>
            <div>
                <div class="css_date">
                    <div class="container">
                        <div style="width: 1.5rem" class="flex_none">
                            <div style="text-align: center">
                                <div style="font-size: .4rem">2018</div>
                                <div style="font-size: .22rem;color: #C8C7C8">2-10 周六</div>
                            </div>
                        </div>
                        <div class="flex2 center_mid">
                            <div>
                                <div style="font-size: .16rem;color: #C8C7C8;text-align: center">365</div>
                                <img style="width: 100%" src="../../public/images/user_order_time.png" alt="">
                            </div>
                        </div>
                        <div style="width: 1.5rem " class="flex_none">
                            <div style="text-align: center">
                                <div style="font-size: .4rem">2018</div>
                                <div style="font-size: .22rem;color: #C8C7C8">3-10 周一</div>
                            </div>
                        </div>
                    </div>
                    <div class="hr"><div></div></div>
                </div>
                <div class="qzc_list border_b order_status">
                    <div class="center_mid container">
                        <div class="flex2">订单号：12345678909876</div>
                        <div class="flex1">
                            <span class="car_forIn">进行中</span>
                            <div class="icon icon_right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="../../plugins/ydui-0.1.3/build/js/ydui.js"></script>
<script src="../../plugins/ydui-0.1.3/build/js/ydui.flexible.js"></script>
<script src='../../plugins/md5/jquery.md5.js'></script>
<script src="js/order.js"></script>
</html>
